
{% extends 'dev/base.html' %}
{% block content %}
{% load static %}


<div class="container-fluid">
  <div class="row">

      




      <div class="col align-items-center py-4">
          <h1 class="text-danger  text-center py-5 ">About</h1>
        
          <img src="{% static 'dev/devratios.png' %}" class=" mx-auto rounded d-block py-1 px-1 bg-light" height="500px" width="800px">
          
          <div>
            <p>
              
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, 
              quis repellat quisquam reprehenderit maiores ipsum laborum vitae 
              quam enim blanditiis dolorum ab nostrum, deleniti voluptatibus 
              cumque? Molest
            </p>
          </div>

      </div>
  </div>
</div>


{% endblock %}





