{% extends 'dev/base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <header>IT Roadmaps and Certifications</header>
    </div>
</div>
<div class="row container-fluid ">
    <div class="col-md-3">
        <ol>
            <li>
                <a href="#id">Full Stake Web development</a>
            </li>
            <li>
                <a href="#id">Network Engineering</a>
            </li>
            <li>
                <a href="#id">System Administration</a>
            </li>
            <li>
                <a href="#id">Cloud Computing</a>
            </li>
            <li>
                <a href="#id">DevOps</a>
            </li>
            <li>
                <a href="#id">Data Science</a>
            </li>
        </ol>
    </div>
    <div class="col-md-9">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Full Stake Web development</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Network Engineering</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>System Administration</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Cloud Computing</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>DevOps</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Data Science</h3>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>



{% endblock %}