{% extends 'dev/base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <header>IT Roadmaps and Certifications</header>
    </div>
</div>
<div class="row container-fluid ">
    <div class="col-md-3">
        <ol>
            <li>
                <a href="#Introduction">Introduction</a>
            </li>
            <li>
                <a href="#Full_Stake_Web_development">Web development</a>
            </li>
            <li>
                <a href="#Network_Engineering">Network Engineering</a>
            </li>
            <li>
                <a href="#System_Administration">System Administration</a>
            </li>
            <li>
                <a href="#Cloud_Computing">Cloud Computing</a>
            </li>
            <li>
                <a href="#DevOps">DevOps</a>
            </li>
        </ol>
    </div>
    <div class="col-md-9 ">
        <section id="Introduction">
            <div class="container-fluid my-3 ">
                <div class="row ">
                    <div class="col">
                        <h2 class="Intro text-uppercase font-weight-bolder text-dark text-center">Introduction</h2>
                        <p>
                            If you are planning on starting a career in IT or making a career switch to IT be it web development, networking or cloud related fields. This article is designed to list the best tutorials, books and practice test exam "if you plan on getting any related IT certifications" on several online platforms. Okayy when I said "The Best Tutorials" that might not be 100% true, this is more of a personal preference that actually helped me alot and I hope they can also help you on your IT journey.  
                        </p>
                    </div>
                </div>
            </div>
        </section >
        <section id="Full_Stake_Web_development">
            <div class="container-fluid my-3">
                <div class="row ">
                    <div class="col">
                        <h3 class="web text-capitalize text-dark font-weight-bold">Web development</h3>
                        <p>
                            <ul>
                                <li>
                                    <div>
                                        HTML <i class="fab fa-html5"></i> & CSS <i class="fab fa-css3-alt"></i>
                                        <ul>
                                            <li>
                                                Build Responsive Real World Websites with HTML% and CSS3. <br>
                                                <backquote class="backquote">
                                                    by <strong>Jason Schmedtmann</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/design-and-develop-a-killer-website-with-html5-and-css3/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                 
                                    
                                </li>
                                <li>
                                    <div>
                                        JavaScript <i class="fab fa-js-square"></i> & React.js <i class="fab fa-react"></i>
                                        <ul>
                                            <li>
                                                Modern Javascript From Beginning. <br>
                                                <backquote class="backquote">
                                                    by <strong>Brad Traversy</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/modern-javascript-from-the-beginning/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                            <li>
                                                React - The Complete Guide (Incl Hooks, react router, Redux) <br>
                                                <backquote class="backquote">
                                                    by <strong>Maximilian Schwarzmuller</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/react-the-complete-guide-incl-redux/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        Python <i class="fab fa-python"></i> & django <i class="fab fa-python"></i>
                                        <ul>
                                            <li>
                                                Automate The Boring Stuff with Python Programming <br>
                                                <backquote class="backquote">
                                                    by <strong>Al Sweigart</strong>  
                                                </backquote>
                                                <br>
                                                <div class="row ">
                                                    <button class="link my-2 btn-dark btn btn-link mx-2">
                                                        <a href="https://www.udemy.com/course/automate/" target="_balnk"> 
                                                           Course on Udemy 
                                                        </a>
                                                    </button>
                                                    <button class="link my-2 btn-dark btn btn-link mx-2">
                                                        <a href="https://www.amazon.com/Automate-Boring-Stuff-Python-2nd/dp/1593279922/ref=sr_1_1?crid=YYJCSLLJI7YL&dchild=1&keywords=automate+the+boring+stuff+with+python&qid=1613466160&sprefix=automate+th%2Caps%2C505&sr=8-1" target="_balnk"> 
                                                           Book on Amazon 
                                                        </a>
                                                    </button>
                                                </div>

                                            </li>
                                            <li>
                                                Django 3 - Full Stack Websites with Python Web Development <br>
                                                <backquote class="backquote">
                                                    by <strong>Nick Walter</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://www.udemy.com/course/django-3-make-websites-with-python-tutorial-beginner-learn-bootstrap/" target="_balnk"> 
                                                       Course on Udemy 
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        Python <i class="fab fa-python"></i> & JavaScript <i class="fab fa-js-square"></i>
                                        <ul>
                                            <li>
                                                CS50's Web Programming with Python and JavaScript <br>
                                                <backquote class="backquote">
                                                    by <strong>David J. Malan</strong>  
                                                </backquote>
                                                <br>
                                                <button class="link my-2 btn-dark btn btn-link">
                                                    <a href="https://online-learning.harvard.edu/course/cs50s-web-programming-python-and-javascript?delta=0" target="_balnk"> 
                                                       Course on Harvard Website  
                                                    </a>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="Network_Engineering">
            <div class="container-fluid my-3">
                <div class="row">
                    <div class="col">
                        <h3 class="network text-capitalize text-dark font-weight-bold">Network Engineering</h3>
                    </div>
                </div>
            </div>
        </section>
        <section id="System_Administration">
            <div class="container-fluid my-3">
                <div class="row">
                    <div class="col">
                        <h3 class="sysadmin text-capitalize text-dark font-weight-bold">System Administration</h3>
                    </div>
                </div>
            </div>
        </section>
        <section id="Cloud_Computing">
            <div class="container-fluid my-3">
                <div class="row">
                    <div class="col">
                        <h3 class="cloud text-capitalize text-dark font-weight-bold">Cloud Computing</h3>
                    </div>
                </div>
            </div>
        </section>
        <section id="DevOps">
            <div class="container-fluid my-2 mb-5">
                <div class="row">
                    <div class="col">
                        <h3 class="devops text-capitalize text-dark font-weight-bold">DevOps</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



{% endblock %}